#root {
  max-width: 3280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #F1FAEE;
}

.logo {
  height: 9em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #00a2ff6a);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.black{
  color: black;
}

.container{
  display:flex;
  justify-content: start;
  align-items: flex-start;

}

.namecard {
  padding: 2em;
  color: black;
  background-color: #D1E8E2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  float:left;
  margin: auto;
  text-align: center;
}

.card{
  background-color: #D1E8E2;
  color: black;
  width:350px;
  height:500px;
  margin:1rem;
}


.trending{
  font-size:0.8lh;
}

.flag{
  height:40px;
  width:40px;
  border-radius: 50%;
}


.read-the-docs {
  color: #888;
}
