.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
  color: #32b08e; /* Optional: Change text color on hover */
}

.homefont {
  color: #383d3b;
  font-family: "Roboto", sans-serif;
}

.home-search-bar input[type="text"]:hover {
  filter: drop-shadow(0 0 1em #00c8ff);
}

.containerhome {
  display: flex;
  flex-direction: column; /* Align items in a row */
  justify-content: flex-start; /* Align items to the start */
  align-items: flex-start; /* Align items to the top */
  gap: 2rem; /* Add space between items */
}

.namecard {
  padding: 2em;
  color: black;
  background-color: #d1e8e2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  text-align: center;
  margin: 0; /* Remove auto margin */
}

.card {
  background-color: #d1e8e2;
  color: black;
  width: 350px;
  height: auto; /* Ensure height adjusts to content */
  margin-top: 0rem; /* Add margin all around */
  text-align: center;
  padding: 30px;
}

.paragraph-font p {
  padding: 10px;
  margin-bottom: 1rem;
  font-size: 3vh;
}

.connection-item {
  display: flex;
  align-items: center;
}

.logo-connections {
  height: 5em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.trending {
  font-size: 0.8lh;
}

.flag {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.read-the-docs {
  color: #888;
}

.parent-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 80px;
}

.childcontainer1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.containerconnections {
  display: flex;
  flex-direction: column; /* Align items in a row */
  justify-content: flex-start; /* Align items to the start */
  align-items: flex-start;
}

/*05445E*/
