.login-signup-button {
  margin-left: auto;
}

/* Gradient background */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* Gradient effect */
  background: linear-gradient(90deg, #10b981, #3b82f6); /* Define gradient */
  -webkit-background-clip: text; /* Use the gradient as the text background */
  -webkit-text-fill-color: transparent; /* Make the rest transparent to show gradient */
  color: transparent; /* Fallback for unsupported browsers */
}

/* Set up the gradient for the text */
.gradient-text {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(90deg, #10b981, #3b82f6); /* Define gradient */
  -webkit-background-clip: text; /* Use the gradient as the text background */
  -webkit-text-fill-color: transparent; /* Make the rest transparent to show gradient */
  color: transparent; /* Fallback for unsupported browsers */
}

/* Center the text block */
.hero-text {
  text-align: center;
  margin-top: 100px;
  font-family: "Arial", sans-serif;
  margin-bottom: 100px;
}

.card-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
}
